*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.home-container{


    height: 80vh;

}

.head{
    background-color: #2e3047;
    color: #3bba9c;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px rgb(131, 129, 129);
}
li::marker{
    color: white;
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    position: absolute;
    top: 55px;
    right: 25px;

}

#home,#shop,#about,#contact{
    transform: translateY(0);
    transition-duration: .5s;
    transition-timing-function: ease;
}

#home:hover, #shop:hover, #about:hover, #contact:hover {
    transform: translateY(-10px);
    transition: transform 0.5s ease, color 0.5s ease; /* Combine transition properties */
    color: rgb(211, 208, 208);
}


a{
    text-decoration: none;
    font-weight: bold;
    color: #3bba9c;
}



/*Main body*/
.sides{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#side1, #side2{
    flex: 1;
    min-width: 200px;
}

#side1{
    z-index: -1;
    background-color: #3c3f58;
}
#side2{
    background-color: #707793;
    display: grid;
    grid-template-columns: 210px 210px 210px;
    grid-template-rows: 225px 225px;
    align-items: center;
    justify-content: center;

}

.img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}


#home-box{
    display: flex;
    width: 400px;
    height: 350px;
    position: absolute;
    left: 1%;
    bottom: 16%;
    opacity: 0;
    animation: appear 1s ease-in forwards;

}
#profile{
    display: flex;
    background-color: #43455c;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: -100px;
    color: #3bba9c;
    border-radius: 10px;
    animation: floating 2s ease-in-out 1s infinite;
}


.text-home{
    margin: 0;
}
.text-intro, .paragraph{
    margin: 10px;
}
#hello{
    font-size: 3rem;
}
.paragraph{
    font-weight: bold;
    height: 100%;
}

.paragraph p {
    width: 660px;
}


/*2ndpart*/

.container-2{
    justify-content: center;
    background-color: #2e3047;
    height: 800px;
    display: grid;
    grid-template-rows: 400px 400px 1fr;
    grid-template-columns: 1fr 1fr;
}

.container-2 {
    position: relative;
    background-color: #43455c;
}

.laptops{
    display: flex;
    justify-content: center;
}

.laptops img{
    object-fit: contain;
    width: 450px;
    height: 325px;
    animation: floating 2s ease-in-out infinite;
 
}

.description{
    color: #3bba9c;
    width: 500px;
    background-color: #2e3047;
    padding: 10px;
    border-radius: 10px;
}


.text{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-2 button{
    position: absolute;
    top: 50%;
    left: 47%;
    z-index: 1;
    background-color: #2e3047;
    color: #3bba9c;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    transform: translateY(0);
    transition: ease 0.5s;
}

.container-2 button:hover{
    background-color: #3bba9c;
    color: #2e3047;
    transform: translateY(-10px);

}


footer{
    height: 1fr;
    background-color: #2e3047;
    text-align: center;
    color: #3bba9c;
    font-weight: bold;

}

/*animation*/
@keyframes appear {
    20%{opacity: 20%;}
    40%{opacity: 40%;}
    60%{opacity: 60%;}
    80%{opacity: 80%;}
    100%{opacity: 100%;}
}

@keyframes floating {
    0%{transform: translateY(0);}
    50%{transform: translateY(-5px);}
    100%{transform: translateY(0);}
}
