body{
    margin: 0;
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   

.home-container{


    height: 500px;

}

.head{
    background-color: #2e3047;
    color: #3bba9c;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px rgb(131, 129, 129);
}
li::marker{
    color: white;
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    position: absolute;
    top: 55px;
    right: 25px;

}

#home,#shop,#about,#contact{
    transform: translateY(0);
    transition-duration: .5s;
    transition-timing-function: ease;
}

#home:hover, #shop:hover, #about:hover, #contact:hover {
    transform: translateY(-10px);
    transition: transform 0.5s ease, color 0.5s ease; /* Combine transition properties */
    color: rgb(211, 208, 208);
}


a{
    text-decoration: none;
    font-weight: bold;
    color: #3bba9c;
}

.main{
    background-color: #3c3f58;
    width: 100%;
    height: 1fr;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.text{
    color: #3bba9c;
    background-color: #2e3047;
    width: 1000px;
    height: 380px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.text p{
    text-align: center;
    font-size: 20px;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #2e3047;
    width: 100%;
}
footer h1{
    margin: 0;

    color: #3bba9c;
}